In [1]:
# ejercicio 1
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b % 2 == 0:
        return a if a<b else b
    else:
        return a if a>b else b

In [10]:
# alernativa

def lesser_of_two_evens2(a,b):
    if a%2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [17]:
def animal_crackers(text):
      return text.split()[0][0].lower() ==  text.split()[1][0].lower()

In [23]:
# m√°s efectivo
def animal_crackers2(text):
    wordlist = text.lower().split()
    return wordlist[0][0] ==  wordlist[1][0]

In [25]:
animal_crackers2('Crazy cangaroo')

True

In [26]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [30]:
def old_macdonald(name):
    name = name[0].upper()+name[1:3]+name[3].upper()+name[4:]
    return name

In [35]:
# alternativa
def old_macdonald(name):
    first_part = name[:3]
    second_part = name[3:]
    return first_part.capitalize()+second_part.capitalize()

In [36]:
old_macdonald('macdonald')

'MacDonald'

In [60]:
def master_yoda(text):
    t = text.split()
    t.reverse()
    return ' '.join(t)

In [97]:
def master_yoda(text):
    t = text.split()
    t2= []
    for i in range(len(t)-1,-1,-1):
        t2.append(t[i])
    return ' '.join(t2)

In [4]:
# alternativa
def master_yoda2(text):
    word = text.split()
    resvers_word = word[::-1]
    return ' '.join(resvers_word)

In [5]:
master_yoda2('I am home')

'home am I'

In [9]:
def almost_there(n):
    return abs(100-n)<=10 or abs(200-n)<=10

In [12]:
almost_there(150)

False

In [40]:
def has_33_(nums):
    for i in range(0, len(nums)-1):
        if nums[i]== 3 and nums[i+1]==3:
            return True
    return False

In [47]:
def has_33_b(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2]==[3,3]:
            return True
    return False

In [48]:
has_33_b([1, 3, 3])

True

In [16]:
def paper_doll(text):
    l = [letter*3 for letter in text]
    return ''.join(l)

In [27]:
def blackjack(a,b,c):
    message=''
    result_sum = sum((a,b,c))
    
    if min([a,b,c])<1 or max([a,b,c])>11:
        message= 'ERROR'
    else:
        if result_sum<=21:
            message= result_sum
        else:
            if 11 in [a,b,c]:
                result_sum -=10
                message = 'BUST' if result_sum>21 else result_sum
            else:
                message= 'BUST'
    return message

In [58]:
def summer_69(arr):
    result = 0
    index = 0

    if 6 not in arr:
        result = sum(arr)
    else:
        while(True):
            index = arr.index(6)

            result += sum(arr[:index])
            index2 = arr.index(9)
            arr = arr[index2+1:]

            if 6 not in arr:
                result += sum(arr)
                break
            else:
                pass

    return result

In [ ]:
summer_69([2, 1, 6, 9, 11,1,6,5,5,5,9,1])

In [50]:
# Challenging problems
def spy_game(nums):
    r = False
    for i,d in enumerate(nums):
        if d == 0:
            if (i+1<len(nums) and i+2 < len(nums)) and [0,7] == [nums[i+1], nums[i+2]]:
                r= True
                break
    return r

In [51]:
spy_game([1,0,2,4,0,5,7])

False

In [52]:
def count_primes(num):
    count = 1
    prime = True
    for x in range(3, num):
        prime = True
        if x % 2 == 0:
            continue
        for y in range(2, x):
            if x % y == 0:
                prime = False
                break
        count += 1 if prime else 0
    return count

In [53]:
count_primes(100)

25

In [5]:
def print_big(letter):
    for x in range(0,5):
        for y in range(0,5):
            if(x == 0):
                if(y == 2):
                    print('*', end="")
                else:
                    print(' ', end="")
            elif (x==1):
                if(y==1 or y==3 ):
                    print('*', end="")
                else:
                    print(' ', end="")
            elif(x==2):
                print('*', end="")
            elif(x== 3 or x== 4):
                if(y==0 or y == 4):
                    print('*', end="")
                else:
                    print(' ', end="")
        print(' ')

In [6]:
print_big('a')

  *
 * *
*****
*   *
*   *

In [7]:
def print_big2(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [9]:
print_big2('B')

****
*   *
****
*   *
****

In [20]:
def has_33_b(nums):
    for i in range(0, len(nums)-1):
    
        if nums[i] == 3 and nums[i+1] == 3:
            return True 

        return False

In [49]:
l2 = [3,1,3]
l2.index(3)

0

In [ ]:
add = True
for num in [1,2,3,4]:
    while add: