In [1]:
# Tipado dinÃ¡mico

my_dogs = 2

print('tipo de mi variable ' + str(type(my_dogs)))

my_dogs = ['sammy','frankie']

print('mi variable ha cambiado de tipo, ahora es una list ' + str(type(my_dogs)) +' -> ' +str(my_dogs))

tipo de mi variable <class 'int'>
mi variable ha cambiado de tipo, ahora es una list <class 'list'> -> ['sammy', 'frankie']

In [12]:
a= 5

In [13]:
a

5

In [34]:
a = a+a

In [35]:
a

481.6

In [28]:
type(a)

int

In [29]:
a = 30.1
type(a)

float