In [26]:
# LIST

my_List = []

my_List = ['string', 100, 20.3,1,2,3]

# len() 
len(my_List)

#[start:stop:step]
my_List[-1]     # 3
my_List[4:]     #  [2, 3]
my_List[:3]     #  ['string', 100, 20.3]
my_List[::2]    #  ['string', 20.3, 2]
my_List*2       # ['string', 100, 20.3, 1, 2, 3, 'string', 100, 20.3, 1, 2, 3]

['string', 100, 20.3, 1, 2, 3, 'string', 100, 20.3, 1, 2, 3]

In [34]:

my_list_1 = [1,2,3,4,5]
my_list_2 = [6,7,8,9,10]

my_list_1+=my_list_2

my_list_2 # [6, 7, 8, 9, 10]
my_list_1 # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [44]:
my_list = ['one', 'two','three','four','five','six']

my_list.append('eight')

my_list # ['one', 'two', 'three', 'four', 'five', 'six', 'eight']

element_deleted = my_list.pop()

element_deleted # 'eight'

my_list # ['one', 'two', 'three', 'four', 'five', 'six']

my_list.pop(0) # 'one'
my_list         # ['two', 'three', 'four', 'five', 'six']

['two', 'three', 'four', 'five', 'six']

In [50]:
char_list = ['a','d','c','e','f','b']
num_list = [10,2,4,1,0]

char_list.sort() 
num_list.reverse()

print(char_list) # ['a', 'b', 'c', 'd', 'e', 'f']
print(num_list)  # [0, 1, 4, 2, 10]

['a', 'b', 'c', 'd', 'e', 'f']
[0, 1, 4, 2, 10]