# INDEX

[Creamos sesion de Spark](###Creamos-sesion-de-Spark)  
[Accediendo a los valores del dataframe](###Accediendo-a-los-valores-del-dataframe)  
[Creamos sesion de Spark](###Creamos-sesion-de-Spark)  
[Creamos sesion de Spark](###Creamos-sesion-de-Spark)  
[Creamos sesion de Spark](###Creamos-sesion-de-Spark)

**************************

### Creamos sesion de Spark

1. importamos sparksession

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 9.4 MB/s eta 0:00:0000:0100:01
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 15.8 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845498 sha256=245b98c1dda982e95c219ce0e9e576ed490344a4dd67353e4fb54bb946fd3a5b
  Stored in directory: /home/jovyan/.cache/pip/wheels/9c/aa/b1/8433fd8b1afe7eb31196cc74a42cd778bcb52636a428da079d
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [3]:
from pyspark.sql import SparkSession

2. Con el constructor le creamos la session y le damos un nombre

In [4]:
spark = SparkSession.builder.appName('pyspark-course').getOrCreate()

3. Imprimimos los datos de la nueva sesión creada

In [5]:
spark

4. AHora podemos leer un dataset contenido en un archivo CSV

In [11]:
credit_card_education_level = spark.read.option('header',True).csv('csv/credit_card_education_level.csv')
credit_card_info = spark.read.option('header',True).csv('csv/credit_card_info.csv')
test1 = spark.read.option('header',True).csv('csv/test1.csv')
test2 = spark.read.option('header',True).csv('csv/test3.csv')
test2 = spark.read.option('header',True).csv('csv/tips.csv')

In [12]:
test1.show()

+---------+---+----------+--------+
|     Name|age|Experience|  Salary|
+---------+---+----------+--------+
|    Krish| 31|        10|   30000|
|Sudhanshu| 30|         8|25000.55|
|    Sunny| 29|         4|   20000|
|     Paul| 24|         3|   20000|
|   Harsha| 21|         1|15000.98|
|  Shubham| 23|         2|18000.99|
+---------+---+----------+--------+

### Accediendo a los valores del dataframe

In [27]:
# podemos mostrar tb las primeras filas del dataframe


print(test1.head())  # devuelve la primera fila
print(test1.head(3)) # devuelve una lista de filas

Row(Name='Krish', age=31, Experience=10, Salary=30000.0)
[Row(Name='Krish', age=31, Experience=10, Salary=30000.0), Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000.55), Row(Name='Sunny', age=29, Experience=4, Salary=20000.0)]

In [29]:
name,age,experience,salary = test1.head()           # DESTRUCTURING
my_data_list = [*test1.head(2)]                      # SPREAD OPERATOR

print(name,age,experience,salary)
print(my_data_list)

Krish 31 10 30000.0
[Row(Name='Krish', age=31, Experience=10, Salary=30000.0), Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000.55)]

In [14]:
# vamos a ver el esquema del dataframe

test1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

Por defecto cuando leemos un archivo pyspark coge los datos como strings, si queremos que automáticamente pyspark infiera el tipo de datos debemos usar la opción `inferSchema=True` en el read csv

In [19]:
test1 = spark.read.option('header',True).csv('csv/test1.csv',inferSchema=True)

In [21]:
test1.show()

+---------+---+----------+--------+
|     Name|age|Experience|  Salary|
+---------+---+----------+--------+
|    Krish| 31|        10| 30000.0|
|Sudhanshu| 30|         8|25000.55|
|    Sunny| 29|         4| 20000.0|
|     Paul| 24|         3| 20000.0|
|   Harsha| 21|         1|15000.98|
|  Shubham| 23|         2|18000.99|
+---------+---+----------+--------+

In [20]:
# ahora tanto edad experiencia y salario los interpreta como integers
test1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: double (nullable = true)

In [23]:
# PODEMOS HACER TODOS ESTOS PASOS EN UN ÚNICO PASO

test1_v2 = spark.read.csv('csv/test1.csv', header=True,inferSchema=True)
test1_v2.show()
test1_v2.printSchema()

+---------+---+----------+--------+
|     Name|age|Experience|  Salary|
+---------+---+----------+--------+
|    Krish| 31|        10| 30000.0|
|Sudhanshu| 30|         8|25000.55|
|    Sunny| 29|         4| 20000.0|
|     Paul| 24|         3| 20000.0|
|   Harsha| 21|         1|15000.98|
|  Shubham| 23|         2|18000.99|
+---------+---+----------+--------+

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: double (nullable = true)

Si miramos el tipo de este dato, test1 / test1_v2, son ambos **dataframe**. Un dataframe es una estructura de datos

In [24]:
print(type(test1))
print(type(test1_v2))

<class 'pyspark.sql.dataframe.DataFrame'>
<class 'pyspark.sql.dataframe.DataFrame'>

5. Selecting column and indexing

En primer lugar tenemos el atributo **columns** del datframe que nos devuelve una lista con el nombre de las columnas `df.columns`

In [26]:
test1_v2.columns

['Name', 'age', 'Experience', 'Salary']

Para ver los datos que contiene una columna usamos el método `select()` esto nos devolverá otro dataframe pero solo con la columna especificada.

In [31]:
colummna_name = test1_v2.select('name')
print(type(colummna_name))
colummna_name.show()

<class 'pyspark.sql.dataframe.DataFrame'>
+---------+
|     name|
+---------+
|    Krish|
|Sudhanshu|
|    Sunny|
|     Paul|
|   Harsha|
|  Shubham|
+---------+

Si queremos recoger múltiples columnas pasamos los nombres en una lista

In [32]:
columnas_name_age = test1_v2.select(['name','age'])
columnas_name_age.show()

+---------+---+
|     name|age|
+---------+---+
|    Krish| 31|
|Sudhanshu| 30|
|    Sunny| 29|
|     Paul| 24|
|   Harsha| 21|
|  Shubham| 23|
+---------+---+

In [51]:
# recoger los datos de los registros.

columnas_name_age.collect()[0][0]

'Krish'

Podemos coger los valores de la columna indicando directamente el nombre sobre el DF pero esto nos devolverá un tipo `column` en lugar de DF

In [34]:
column_name = test1_v2['name']

print(type(column_name))

<class 'pyspark.sql.column.Column'>

También podemos sacar los datatypes de las distintas columnas

In [52]:
test1_v2.dtypes

[('Name', 'string'),
 ('age', 'int'),
 ('Experience', 'int'),
 ('Salary', 'double')]

Tenemos disponible la opción `describe`, este método nos devuelve un dataframe con información sobre los distintos campos, si son numéricos nos da info sobre la media, SD, valores min y max.

In [53]:
test1_v2.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  null|26.333333333333332|4.666666666666667|21333.753333333334|
| stddev|  null| 4.179314138308661|3.559026084010437| 5353.846365332748|
|    min|Harsha|                21|                1|          15000.98|
|    max| Sunny|                31|               10|           30000.0|
+-------+------+------------------+-----------------+------------------+

#### Adding / dropping columns

##### Adding

Para que esta operación quede grabada debemos asignarle el resultado a una nueva variable o reasignarle el resultado a la variable ya creada. 
Debe recibir como parámetro:
1. el nombre de la columna (si no existe dicha columna se crea si ya existe se sobreescribe)
2. los datos (una instancia de la clase column)

Para acceder

In [73]:
test = test1_v2.withColumn("Experience after 2 years",test1_v2.Experience+2)
test1_v2.withColumn("Experience after 2 years",test1_v2.select('experience')[0]+2).show()
test1_v2.withColumn("Experience after 2 years",test1_v2['Experience']+2).show()

+---------+---+----------+--------+------------------------+
|     Name|age|Experience|  Salary|Experience after 2 years|
+---------+---+----------+--------+------------------------+
|    Krish| 31|        10| 30000.0|                      12|
|Sudhanshu| 30|         8|25000.55|                      10|
|    Sunny| 29|         4| 20000.0|                       6|
|     Paul| 24|         3| 20000.0|                       5|
|   Harsha| 21|         1|15000.98|                       3|
|  Shubham| 23|         2|18000.99|                       4|
+---------+---+----------+--------+------------------------+

+---------+---+----------+--------+------------------------+
|     Name|age|Experience|  Salary|Experience after 2 years|
+---------+---+----------+--------+------------------------+
|    Krish| 31|        10| 30000.0|                      12|
|Sudhanshu| 30|         8|25000.55|                      10|
|    Sunny| 29|         4| 20000.0|                       6|
|     Paul| 24|         3| 20000.0|                       5|
|   Harsha| 21|         1|15000.98|                       3|
|  Shubham| 23|         2|18000.99|                       4|
+---------+---+----------+--------+------------------------+

#### Drop column

Solo necesitamos pasar el nombre de la columna a eliminar

In [74]:

test.show()
test = test.drop('Experience after 2 years')
test.show()

+---------+---+----------+--------+------------------------+
|     Name|age|Experience|  Salary|Experience after 2 years|
+---------+---+----------+--------+------------------------+
|    Krish| 31|        10| 30000.0|                      12|
|Sudhanshu| 30|         8|25000.55|                      10|
|    Sunny| 29|         4| 20000.0|                       6|
|     Paul| 24|         3| 20000.0|                       5|
|   Harsha| 21|         1|15000.98|                       3|
|  Shubham| 23|         2|18000.99|                       4|
+---------+---+----------+--------+------------------------+

+---------+---+----------+--------+
|     Name|age|Experience|  Salary|
+---------+---+----------+--------+
|    Krish| 31|        10| 30000.0|
|Sudhanshu| 30|         8|25000.55|
|    Sunny| 29|         4| 20000.0|
|     Paul| 24|         3| 20000.0|
|   Harsha| 21|         1|15000.98|
|  Shubham| 23|         2|18000.99|
+---------+---+----------+--------+

##### Rename Columns

usando la función `withColumnRenamed()`

Solo debemos pasar el nombre de la columna y el nuevo nombre  q adoptará

In [76]:
test = test.withColumnRenamed('age','new age column')

test.show()

+---------+--------------+----------+--------+
|     Name|new age column|Experience|  Salary|
+---------+--------------+----------+--------+
|    Krish|            31|        10| 30000.0|
|Sudhanshu|            30|         8|25000.55|
|    Sunny|            29|         4| 20000.0|
|     Paul|            24|         3| 20000.0|
|   Harsha|            21|         1|15000.98|
|  Shubham|            23|         2|18000.99|
+---------+--------------+----------+--------+

### Managing missing values

In [140]:
test2 = spark.read.csv('csv/test2.csv', header=True,inferSchema=True)
test2.show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
|     null|null|      null|  null|
+---------+----+----------+------+

#### Deleting missing values

Podemos elimnar estos registros con valores missing/null utilizando `na` y la función `drop()`.

In [124]:

test2.na.drop().show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

En la función drop le podemos pasar 3 parámetros:
1. how
2. subset
3. thresh

*How* puede aceptar dos valores 

1. all =>  elimina ese registro solo cuando todos los campos de un registro son null
2. any => elimina ese registro si alguno de sus campos es null (valor por defecto)

In [129]:
test2.na.drop(how='all').show()
test2.na.drop(how='any').show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

*thresh* puedes marcar cuantos valores informados como mínimo puede tener un registro para no ser eliminado

In [132]:
test2.show()
test2.na.drop(thresh=2).show() # como tiene dos campos con valores infromados aunq el registro tenga nulls no se borra

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
+---------+----+----------+------+

*subset*  borraremos el registro siempre y cuando aparezca un null en la columna q le pasemos al `subset`

In [137]:
test2.show()
test2.na.drop(subset=['Experience']).show()

+---------+----+----------+------+
|     Name| age|Experience|Salary|
+---------+----+----------+------+
|    Krish|  31|        10| 30000|
|Sudhanshu|  30|         8| 25000|
|    Sunny|  29|         4| 20000|
|     Paul|  24|         3| 20000|
|   Harsha|  21|         1| 15000|
|  Shubham|  23|         2| 18000|
|   Mahesh|null|      null| 40000|
|     null|  34|        10| 38000|
|     null|  36|      null|  null|
+---------+----+----------+------+

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|     null| 34|        10| 38000|
+---------+---+----------+------+

#### Filling missing values

Para sustituir los valores `null` con otro valor usamos la función `fill(value="new_value", subset=[column_name])`

In [153]:
test = test2.na.fill('missing')
test = test.na.fill(0)
test.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
|   Mahesh|  0|         0| 40000|
|  missing| 34|        10| 38000|
|  missing| 36|         0|     0|
|  missing|  0|         0|     0|
+---------+---+----------+------+