In [14]:

prices_lookup = {'apple':2.88, 'oranges':3.56, 'milk':6.12}

print('precio de las manzanas {:<10.5f} €'.format(prices_lookup['apple']))
 # precio de las manzanas 2.88000    €

prices_lookup # {'apple': 2.88, 'oranges': 3.56, 'milk': 6.12}

precio de las manzanas 2.88000    €

{'apple': 2.88, 'oranges': 3.56, 'milk': 6.12}

In [19]:
d = {'numbers':123,'list':[1,2,3],'dict':{'nombre':'david','apellido':'martin'}}

d['numbers'] # 123
d['list'][0] #1
print('me llamo {} {} '.format(d['dict']['nombre'], d['dict']['apellido'])) # me llamo david martin

123
1
me llamo david martin

In [30]:
prices_lookup = {'apple':2.88, 'oranges':3.56, 'milk':6.12}

prices_lookup['melon'] = 5.86

prices_lookup['apple']= 3.30

prices_lookup # {'apple': 3.3, 'oranges': 3.56, 'milk': 6.12, 'melon': 5.86}

del prices_lookup['melon']

prices_lookup # {'apple': 3.3, 'oranges': 3.56, 'milk': 6.12}

prices_lookup.keys() # dict_keys(['apple', 'oranges', 'milk'])

prices_lookup.values() # dict_values([3.3, 3.56, 6.12])

prices_lookup.items() # dict_items([('apple', 3.3), ('oranges', 3.56), ('milk', 6.12)])

dict_items([('apple', 3.3), ('oranges', 3.56), ('milk', 6.12)])

In [32]:
 d= {1:'david'}

 d

{1: 'david'}