In [1]:
# if elif else statements

result = 5

if result<2 :

    print('it < 2')

elif result ==5 :

    print('result is equal to 5')

else :

    print('result is bigger than 2')

result is equal to 5

In [2]:
# for loops




myList = [1,2,3,4,5,6,7,8,9,10]

for (indice,valor) in enumerate(myList):
  print(f'indice:{indice} => valor:{valor} ')

indice:0 => valor:1
indice:1 => valor:2
indice:2 => valor:3
indice:3 => valor:4
indice:4 => valor:5
indice:5 => valor:6
indice:6 => valor:7
indice:7 => valor:8
indice:8 => valor:9
indice:9 => valor:10

In [35]:


#for item in t:
 #   print(f'{item} - ', end='')


#for index in range(0, len(t)):

  #  for index2 in range(0, len(t[index])):

 #      print(f'{t[index][index2]} - ', end='')

#    print('  ')

print('')

t = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for (a,b) in t:
    print(f'{a} - {b}')

1 - 2
3 - 4
5 - 6
7 - 8
9 - 10

In [4]:
myList = [1,2,3]

for x,y in enumerate('David'):
    print(f'{x} - {y}')

0 - D
1 - a
2 - v
3 - i
4 - d

In [37]:
list_of_list = [[1,2,3],[4,5,6]]

for a,b in enumerate(list_of_list):
    print(f'{a} - {b}')

0 - [1, 2, 3]
1 - [4, 5, 6]

In [39]:
# ierate a dictionary

d = {"k1":1, "k2":2, "k3":3}

for key,value in d.items():
    print(f' {key} - {value} ', end='')

k1 - 1  k2 - 2  k3 - 3

In [40]:

d = {"k1":1, "k2":2, "k3":3}

for value in d.values():
    print(f' {value} ', end='')

1  2  3

In [2]:
# while loops
x = 0

while x<5:
    print(f' {x} ', end='')
    x+=1
else:
    print(f' \nX no es menor q 5')

0  1  2  3  4
X no es menor q 5

In [1]:
# important keywords in loops - break - continue - pass

x = [1,2,3]

for item in x:
    # comment
    pass
print('ya puede continuar el script')

ya puede continuar el script

In [4]:
mystring = "david" 
mystring

'david'

In [8]:
for c in mystring:
    if c == 'a':
        continue
    print(c)

d
v
i
d

In [4]:
x = 0
while x<5:
    if x==2:
        break
    print(x)
    x+=1

0
1

In [2]:
### Operators

for num in range(0,10,2):
    print(num, end='')
# 02468
myList = list(range(0,10,2))
myList 
# [0, 2, 4, 6, 8]

02468

In [13]:


for index,item in enumerate("abcde"):
    print(f"en el índice: {index} => {item}")

en el índice: 0 => a
en el índice: 1 => b
en el índice: 2 => c
en el índice: 3 => d
en el índice: 4 => e

In [17]:
list1 = [1,2,3]
list2 = ['a','b','c']
lista3 = ['alba','Boni','carlos']

t = zip(list1,list2, lista3)

print(t) # <zip object at 0x7f2172294aa0>

for item in t:
    print(item)
#(1, 'a', 'alba')
#(2, 'b', 'Boni')
#(3, 'c', 'carlos')

list = list(zip(list1,list2, lista3))
list # [(1, 'a', 'alba'), (2, 'b', 'Boni'), (3, 'c', 'carlos')]

<zip object at 0x7f21721f3d20>
(1, 'a', 'alba')
(2, 'b', 'Boni')
(3, 'c', 'carlos')

[(1, 'a', 'alba'), (2, 'b', 'Boni'), (3, 'c', 'carlos')]

In [27]:
'x' in [1,2,3,4] # False
1   in [1,2,3,4] # True
'A' in 'David'  # False 
'a' in 'David'  # True

d = {'name':'david', 'edad':36}

'david' in d.values() # True
'edad'  in d.keys()   # True

True

In [3]:
myList = [1,2,3,20,10,5]
min(myList) # 1
max(myList) # 20

20

In [19]:
from random import shuffle  # de la libreria random importa la función shuffle

In [44]:
myList = [1,2,3,4,5,6,7,8,9,10]

shuffle(myList)
myList

[9, 8, 3, 10, 2, 4, 6, 5, 7, 1]

In [27]:
myList

[6, 8, 10, 7, 5, 2, 1, 9, 3, 4]

In [17]:
from random import randint

randint(0,10)

3

In [47]:
result = input('enter your age: ')

int(result) #  30
float(result) #  30.0

30.0

In [42]:
result

'David'

In [1]:
word = 'david'

l = []

for letter in word:
    l.append(letter)

l # ['d', 'a', 'v', 'i', 'd']

['d', 'a', 'v', 'i', 'd']

In [5]:
word = 'david'

l = [letter for letter in word] # letra a letra en word
l # ['d', 'a', 'v', 'i', 'd']

['d', 'a', 'v', 'i', 'd']

In [6]:
l = [num for num in range(0,10)]
l # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
l = [num**2 for num in range(0,10)]
l # [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [9]:
l = [num**2 for num in range(0,10) if num%2==0]
l # [0, 4, 16, 36, 64]

[0, 4, 16, 36, 64]

In [11]:
l = [num if num%2==0 else 'impar' for num in range(0,10)]
l # [0, 'impar', 2, 'impar', 4, 'impar', 6, 'impar', 8, 'impar']

[0, 'impar', 2, 'impar', 4, 'impar', 6, 'impar', 8, 'impar']

In [10]:
celcius= [0,10,20,34.5]

fahrenheit = [ ( (9/5)*temp+32 ) for temp in celcius]

fahrenheit # [32.0, 50.0, 68.0, 94.1]

[32.0, 50.0, 68.0, 94.1]

In [14]:
l = []

for x in [2,4,6]:
    for y in [1,10,100]:
        l.append(x*y)

l # [2, 20, 200, 4, 40, 400, 6, 60, 600]

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [16]:
l = [x*y for x in [2,4,6] for y in [1,10,100]]

l # [2, 20, 200, 4, 40, 400, 6, 60, 600]

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [19]:
str1 = 'david'
str2 = 'DAVID'

if str1== str2.casefold():
    print('iguales')
else:
    print('son diferentes')

iguales

In [33]:
True and False  # False
True or False  # True
not True        # False

False

In [40]:
(True!=True)

False

In [3]:
l = [1,2,3,5]

In [5]:
l

[1, 2, 3, 5]

In [3]:
# ternary operator
b = True
r = "hello" if b else "GoodGbye"
r

'hello'

In [29]:
l1 = [1,2,3]
l2 = [1,2,3,45,6,8]

set(l1).issubset(set(l2))

True

In [27]:
str = 'david'
str2 = "hello david!"
str2.find(str) #6
str2.find('ello') #1
str2.find('Hello') # -1

-1

In [43]:
l1 = [1,2,3]
l2 = [1,2,3,45,6,8]
l3 = [1,2,45,6,8]

r = all(elem in l2 for elem in l1)
r # True
r2 = all(elem in l3 for elem in l1)
r2 # False
r3 = any(elem in l3 for elem in l1)
r3 # True

True

In [34]:
l1 = [1,2,3]
l2 = [1,2,3,45,6,8]

r = [l for l in'david']
r

['d', 'a', 'v', 'i', 'd']

In [52]:
11/3

3.6666666666666665

In [56]:
r = sum((10,10))
r #20

20

In [10]:
list2 = []
for caracter in 'David':
    #print(f'{caracter.upper()}', end='')
    list2.append(caracter)
    #print(type(caracter))
list2

['D', 'a', 'v', 'i', 'd']

In [9]:
t = [(1,2),(3,4),(5,6),(7,8),(9,10)]

for (a,b) in t:
    print(f'{a} - {b}')

'''
1 - 2
3 - 4
5 - 6
7 - 8
9 - 10
'''

1 - 2
3 - 4
5 - 6
7 - 8
9 - 10

'\n1 - 2\n3 - 4\n5 - 6\n7 - 8\n9 - 10\n'

In [3]:
myList = [1,2,3,4,5,6,7,8,9,10]

for item in myList:
  print(f'{item}', end=' - ') #

1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - 10 -

In [31]:
for i in range(len('david')-1,-1,-1):
  print('david'[i], end='')

# divad

divad

In [38]:
for item in enumerate("abcde"):
    print(f"{item}")

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [41]:
'''
 (0, 'a')
 (1, 'b')
 (2, 'c')
 (3, 'd')
 (4, 'e')
'''

"\n (0, 'a')\n (1, 'b')\n (2, 'c')\n (3, 'd')\n (4, 'e')\n"