# Introducción a pyspark

## Instalación

Instalamos pyspark en nuestro entorno para ello utilizamos el gestor de paquetes **pip**.

para ello ejecutamos:

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

> El signo de admiración indica que la instrucción será ejecutada en consola.

## Creación de una sesión de Spark

Para empezar a trabajar con pyspark primero necesitamos crear una sesión de spark.

1. importamos el módulo **SparkSession**
2. Creamos la sesión **pysaprk_course**

In [ ]:
import pyspark

In [ ]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
spark = SparkSession.builder.appName('pyspark_course').getOrCreate()
spark

In [ ]:
# !pip install pyspark
# import pyspark

# from pyspark.sql import SparkSession
# import pyspark.sql.functions as F
# spark = SparkSession.builder.appName('pysaprk_course').getOrCreate()
# spark

>**En el entorno DATIO de BBVA todas las acciones realizadas hasta ahora se realizan de manera automática, así que en DATIO no debemos preocuparnos ni de instalar la librería no crear la sesión de Spark.**

## Métodos básicos de pyspark

### Cargar datos en un Dataframe

#### `spark.read.csv`


Cuando leemos los datos de un csv hay que tener en cuenta dos cosas:   
    - cargar las cabeceras `header=True`  
    - inferir el tipo de dato de cada campo `inferSchema=True`

   Esto es así porque los csv son archivos de texto plano pero cuando se trata de archivos **parquet** (archivos binarios, que contienen metadatos) no es necesario especificar estas opciones `spark.read.parquet(path_to_file)`.

In [ ]:
df_tarjeta_credito_estudios = spark.read.csv('credit_card_education_level_v2.csv', header=True, inferSchema=True)
df_tarjeta_credito_info = spark.read.csv('credit_card_info_v3.csv', header=True,  inferSchema=True)

### Explorando el Dataframe

#### `printSchema()`

Nos muestra:

  - campos
  - data types

In [ ]:
df_tarjeta_credito_info.printSchema()

root
 |-- cliente: integer (nullable = true)
 |-- edad: integer (nullable = true)
 |-- genero: string (nullable = true)
 |-- sueldo: string (nullable = true)
 |-- limite de credito: double (nullable = true)

In [ ]:
df_tarjeta_credito_estudios.printSchema()

root
 |-- CLIENTNUM: integer (nullable = true)
 |-- Education_Level: string (nullable = true)

#### count()

Devuelve el número de registros del DF

In [ ]:
df_tarjeta_credito_info.count()

10125

In [ ]:
df_tarjeta_credito_estudios.count()

10125

#### `show()`


Por defecto imprime los primeros 20 registros del DF. 

Acepta 3 argumentos:

- n (int)         => número de registros a mostrar
- truncate (bool) => truncará el valor del campo en el caso que sea muy extenso
- vertical (bool) => mostrará los campos del DF en vertical

In [ ]:
df_tarjeta_credito_info.show(n=20,truncate=True,vertical=False)

+---------+--------------------+------------+------+---------------+--------------+---------------+-------------+--------------+---------------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|      Attrition_Flag|Customer_Age|Gender|Dependent_count|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_CoCLIENTNUMunt|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+--------------------+------------+------+---------------+--------------+---------------+-------------+--------------+---------------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer...|          45|     M|              3|       Married|    $60K - $80K|         Blue|            39|                                5|                     1|                    3|     12691.0|                777|        11914.0|               1.335|           1144|            42|              1.625|                0.061|                                                                                                                         9.3448E-5|                                                                                                                           0.99991|
|818770008|   Existing Customer|          49|     F|              5|        Single| Less than $40K|         Blue|            44|                                6|                     1|                    2|      8256.0|                864|         7392.0|               1.541|           1291|            33|              3.714|                0.105|                                                                                                                         5.6861E-5|                                                                                                                           0.99994|
|713982108|   Existing Customer|          51|     M|              3|       Married|   $80K - $120K|         Blue|            36|                                4|                     1|                    0|      3418.0|                  0|         3418.0|               2.594|           1887|            20|              2.333|                  0.0|                                                                                                                         2.1081E-5|                                                                                                                           0.99998|
|769911858|   Existing Customer|          40|     F|              4|          null| Less than $40K|         Blue|            34|                                3|                     4|                    1|      3313.0|               2517|          796.0|               1.405|           1171|            20|              2.333|                 0.76|                                                                                                                         1.3366E-4|                                                                                                                           0.99987|
|709106358|   Existing Customer|          40|     M|              3|       Married|    $60K - $80K|         Blue|            21|                                5|                     1|                    0|      4716.0|                  0|         4716.0|               2.175|            816|            28|                2.5|                  0.0|                                                                                                                         2.1676E-5|                                                                                                                           0.99998|
|713061558|   Existing Customer|          44|     M|              2|       Married|    $40K - $60K|         Blue|            36|                                3|                     1|                    2|      4010.0|               1247|         2763.0|               1.376|           1088|            24|              0.846|                0.311|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
|810347208|   Existing Customer|          51|     M|              4|       Married|        $120K +|         Gold|            46|                                6|                     1|                    3|     34516.0|               2264|        32252.0|               1.975|           1330|            31|              0.722|                0.066|                                                                                                                         1.2303E-4|                                                                                                                           0.99988|
|818906208|   Existing Customer|          32|     M|              0|          null|    $60K - $80K|       Silver|            27|                                2|                     2|                    2|     29081.0|               1396|        27685.0|               2.204|           1538|            36|              0.714|                0.048|                                                                                                                         8.5795E-5|                                                                                                                           0.99991|
|710930508|   Existing Customer|          37|     M|              3|        Single|    $60K - $80K|         Blue|            36|                                5|                     2|                    0|     22352.0|               2517|        19835.0|               3.355|           1350|            24|              1.182|                0.113|                                                                                                                         4.4796E-5|                                                                                                                           0.99996|
|719661558|   Existing Customer|          48|     M|              2|        Single|   $80K - $120K|         Blue|            36|                                6|                     3|                    3|     11656.0|               1677|         9979.0|               1.524|           1441|            32|              0.882|                0.144|                                                                                                                         3.0251E-4|                                                                                                                            0.9997|
|708790833|   Existing Customer|          42|     M|              5|          null|        $120K +|         Blue|            31|                                5|                     3|                    2|      6748.0|               1467|         5281.0|               0.831|           1201|            42|               0.68|                0.217|                                                                                                                         1.9094E-4|                                                                                                                           0.99981|
|710821833|   Existing Customer|          65|     M|              1|       Married|    $40K - $60K|         Blue|            54|                                6|                     2|                    3|      9095.0|               1587|         7508.0|               1.433|           1314|            26|              1.364|                0.174|                                                                                                                         1.9751E-4|                                                                                                                            0.9998|
|710599683|   Existing Customer|          56|     M|              1|        Single|   $80K - $120K|         Blue|            36|                                3|                     6|                    0|     11751.0|                  0|        11751.0|               3.397|           1539|            17|               3.25|                  0.0|                                                                                                                         4.7799E-5|                                                                                                                           0.99995|
|816082233|   Existing Customer|          35|     M|              3|          null|    $60K - $80K|         Blue|            30|                                5|                     1|                    3|      8547.0|               1666|         6881.0|               1.163|           1311|            33|                2.0|                0.195|                                                                                                                         9.6126E-5|                                                                                                                            0.9999|
|712396908|   Existing Customer|          57|     F|              2|       Married| Less than $40K|         Blue|            48|                                5|                     2|                    2|      2436.0|                680|         1756.0|                1.19|           1570|            29|              0.611|                0.279|                                                                                                                         1.1382E-4|                                                                                                                           0.99989|
|714885258|   Existing Customer|          44|     M|              4|          null|   $80K - $120K|         Blue|            37|                                5|                     1|                    2|      4234.0|                972|         3262.0|               1.707|           1348|            27|                1.7|                 0.23|                                                                                                                         6.3492E-5|                                                                                                                           0.99994|
|709967358|   Existing Customer|          48|     M|              4|        Single|   $80K - $120K|         Blue|            36|                                6|                     2|                    3|     30367.0|               2362|        28005.0|               1.708|           1671|            27|              0.929|                0.078|                                                                                                                         2.3623E-4|                                                                                                                           0.99976|
|753327333|   Existing Customer|          41|     M|              3|       Married|   $80K - $120K|         Blue|            34|                                4|                     4|                    1|     13535.0|               1291|        12244.0|               0.653|           1028|            21|              1.625|                0.095|                                                                                                                         1.4953E-4|                                                                                                                           0.99985|
|806160108|   Existing Customer|          61|     M|              1|       Married|    $40K - $60K|         Blue|            56|                                2|                     2|                    3|      3193.0|               2517|          676.0|               1.831|           1336|            30|              1.143|                0.788|                                                                                                                         1.7468E-4|                                                                                                                           0.99983|
|709327383|   Existing Customer|          45|     F|              2|       Married|           null|         Blue|            37|                                6|                     1|                    2|     14470.0|               1157|        13313.0|               0.966|           1207|            21|              0.909|                 0.08|                                                                                                                         5.5077E-5|                                                                                                                           0.99994|
+---------+--------------------+------------+------+---------------+--------------+---------------+-------------+--------------+---------------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 20 rows

In [ ]:
df_tarjeta_credito_info.show(5,False)

+---------+-----------------------------------------------------------+------------+------+---------------+--------------+---------------+-------------+--------------+---------------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|CLIENTNUM|Attrition_Flag                                             |Customer_Age|Gender|Dependent_count|Marital_Status|Income_Category|Card_Category|Months_on_book|Total_Relationship_CoCLIENTNUMunt|Months_Inactive_12_mon|Contacts_Count_12_mon|Credit_Limit|Total_Revolving_Bal|Avg_Open_To_Buy|Total_Amt_Chng_Q4_Q1|Total_Trans_Amt|Total_Trans_Ct|Total_Ct_Chng_Q4_Q1|Avg_Utilization_Ratio|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1|Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2|
+---------+-----------------------------------------------------------+------------+------+---------------+--------------+---------------+-------------+--------------+---------------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
|768805383|Existing Customer-ppppppppppppppppppppppppppppppppppppppppp|45          |M     |3              |Married       |$60K - $80K    |Blue         |39            |5                                |1                     |3                    |12691.0     |777                |11914.0        |1.335               |1144           |42            |1.625              |0.061                |9.3448E-5                                                                                                                         |0.99991                                                                                                                           |
|818770008|Existing Customer                                          |49          |F     |5              |Single        |Less than $40K |Blue         |44            |6                                |1                     |2                    |8256.0      |864                |7392.0         |1.541               |1291           |33            |3.714              |0.105                |5.6861E-5                                                                                                                         |0.99994                                                                                                                           |
|713982108|Existing Customer                                          |51          |M     |3              |Married       |$80K - $120K   |Blue         |36            |4                                |1                     |0                    |3418.0      |0                  |3418.0         |2.594               |1887           |20            |2.333              |0.0                  |2.1081E-5                                                                                                                         |0.99998                                                                                                                           |
|769911858|Existing Customer                                          |40          |F     |4              |null          |Less than $40K |Blue         |34            |3                                |4                     |1                    |3313.0      |2517               |796.0          |1.405               |1171           |20            |2.333              |0.76                 |1.3366E-4                                                                                                                         |0.99987                                                                                                                           |
|709106358|Existing Customer                                          |40          |M     |3              |Married       |$60K - $80K    |Blue         |21            |5                                |1                     |0                    |4716.0      |0                  |4716.0         |2.175               |816            |28            |2.5                |0.0                  |2.1676E-5                                                                                                                         |0.99998                                                                                                                           |
+---------+-----------------------------------------------------------+------------+------+---------------+--------------+---------------+-------------+--------------+---------------------------------+----------------------+---------------------+------------+-------------------+---------------+--------------------+---------------+--------------+-------------------+---------------------+----------------------------------------------------------------------------------------------------------------------------------+----------------------------------------------------------------------------------------------------------------------------------+
only showing top 5 rows

#### describe()

Nos dará información estadística (count, stddev,mean,min,max) del campo numérico que nos interese.

In [ ]:
df_tarjeta_credito_info.describe('Customer_Age').show()

+-------+-----------------+
|summary|     Customer_Age|
+-------+-----------------+
|  count|            10120|
|   mean|           46.325|
| stddev|8.017744397265563|
|    min|               26|
|    max|               73|
+-------+-----------------+

#### select()

La función select nos permite seleccionar las columnas que nos interesen del DF, hay que tener en cuenta que nos devolverá un nuevo DF por lo que si el objetivo es visualizar el resultado tenemos que hacer un show()

In [ ]:
df_tarjeta_credito_info.select('CLIENTNUM','Income_Category').show()

+---------+---------------+
|CLIENTNUM|Income_Category|
+---------+---------------+
|768805383|    $60K - $80K|
|818770008| Less than $40K|
|713982108|   $80K - $120K|
|769911858| Less than $40K|
|709106358|    $60K - $80K|
|713061558|    $40K - $60K|
|810347208|        $120K +|
|818906208|    $60K - $80K|
|710930508|    $60K - $80K|
|719661558|   $80K - $120K|
|708790833|        $120K +|
|710821833|    $40K - $60K|
|710599683|   $80K - $120K|
|816082233|    $60K - $80K|
|712396908| Less than $40K|
|714885258|   $80K - $120K|
|709967358|   $80K - $120K|
|753327333|   $80K - $120K|
|806160108|    $40K - $60K|
|709327383|           null|
+---------+---------------+
only showing top 20 rows

Otra maneras de utilizar select:

In [ ]:
# Notación del punto
df_tarjeta_credito_info\
.select(\
        df_tarjeta_credito_info.Income_Category.alias('Sueldo'),\
        df_tarjeta_credito_info.CLIENTNUM.alias('Cliente'))\
        .show(3)

# Notación de los corchetes
df_tarjeta_credito_info\
.select(\
        df_tarjeta_credito_info["Income_Category"].alias('Sueldo')\
        ,df_tarjeta_credito_info["CLIENTNUM"].alias('Cliente'))\
        .show(3)


# usar sql functions

df_tarjeta_credito_info\
.select(\
        F.col("Income_Category").alias('Sueldo'),\
        F.col("CLIENTNUM").alias('Cliente'))\
        .show(3)

+--------------+---------+
|        Sueldo|  Cliente|
+--------------+---------+
|   $60K - $80K|768805383|
|Less than $40K|818770008|
|  $80K - $120K|713982108|
+--------------+---------+
only showing top 3 rows

+--------------+---------+
|        Sueldo|  Cliente|
+--------------+---------+
|   $60K - $80K|768805383|
|Less than $40K|818770008|
|  $80K - $120K|713982108|
+--------------+---------+
only showing top 3 rows

+--------------+---------+
|        Sueldo|  Cliente|
+--------------+---------+
|   $60K - $80K|768805383|
|Less than $40K|818770008|
|  $80K - $120K|713982108|
+--------------+---------+
only showing top 3 rows

Nos puede interesar conocer los distintos valores que puede contener un campo, para ello podemos utilizar **select().distinct()** o **groupBy()**

In [ ]:
df_tarjeta_credito_info.select('Income_Category').distinct().show()

+---------------+
|Income_Category|
+---------------+
|        $120K +|
|    $60K - $80K|
|           null|
|   $80K - $120K|
|    $40K - $60K|
| Less than $40K|
+---------------+

In [ ]:
df_tarjeta_credito_info.groupBy('Income_Category').count().show()

+---------------+-----+
|Income_Category|count|
+---------------+-----+
|        $120K +|  727|
|    $60K - $80K| 1402|
|           null| 1112|
|   $80K - $120K| 1534|
|    $40K - $60K| 1789|
| Less than $40K| 3561|
+---------------+-----+

### Pre-procesado de datos

#### select()

In [ ]:
df_tarjeta_credito_info = df_tarjeta_credito_info\
                                                  .select(\
                                                          F.col('CLIENTNUM').alias('cliente'),\
                                                          F.col('Customer_Age').alias('edad'),\
                                                          F.col('Gender').alias('genero'),\
                                                          F.col('Income_Category').alias('sueldo'),\
                                                          F.col('Marital_Status').alias('estado civil'),\
                                                          F.col('Months_on_book').alias('meses'),\
                                                          F.col('Credit_Limit')
                                                          
                                                          )

#### Trabajando con columnas

In [ ]:
df_tarjeta_credito_info.show()

+---------+----+------+--------------+------------+-----+------------+
|  cliente|edad|genero|        sueldo|estado civil|meses|Credit_Limit|
+---------+----+------+--------------+------------+-----+------------+
|768805383|  45|     M|   $60K - $80K|     Married|   39|     12691.0|
|818770008|  49|     F|Less than $40K|      Single|   44|      8256.0|
|713982108|  51|     M|  $80K - $120K|     Married|   36|      3418.0|
|769911858|  40|     F|Less than $40K|        null|   34|      3313.0|
|709106358|null|     M|   $60K - $80K|     Married|   21|      4716.0|
|713061558|  44|     M|   $40K - $60K|     Married|   36|      4010.0|
|810347208|  51|     M|       $120K +|     Married|   46|     34516.0|
|818906208|  32|     M|   $60K - $80K|        null|   27|     29081.0|
|710930508|  37|     M|   $60K - $80K|      Single|   36|     22352.0|
|719661558|  48|     M|  $80K - $120K|      Single|   36|     11656.0|
|718813833|null|  null|          null|      Single|   34|     10100.0|
|708790833|null|     M|       $120K +|        null|   31|      6748.0|
|710821833|  65|     M|   $40K - $60K|     Married|   54|      9095.0|
|710599683|  56|     M|  $80K - $120K|      Single|   36|     11751.0|
|816082233|  35|     M|   $60K - $80K|        null|   30|      8547.0|
|712396908|null|     F|Less than $40K|     Married|   48|      2436.0|
|714885258|  44|     M|  $80K - $120K|        null|   37|      4234.0|
|709967358|  48|     M|  $80K - $120K|      Single|   36|     30367.0|
|753327333|  41|     M|  $80K - $120K|     Married|   34|     13535.0|
|806160108|  61|     M|   $40K - $60K|     Married|   56|      3193.0|
+---------+----+------+--------------+------------+-----+------------+
only showing top 20 rows

##### withColumnRenamed()

Nos permite modificar el nombre de las columnas

In [ ]:
df_tarjeta_credito_info = df_tarjeta_credito_info.withColumnRenamed('Credit_Limit','limite de credito')

##### drop()

para elimina columna/s del DF

In [ ]:
df_tarjeta_credito_info = df_tarjeta_credito_info.drop("estado civil","meses")

##### withColumn(nombre_col,col)

  Permite añadir una columna a nuestro dataframe o modificar una existente. 

  Este método nos devuelve un nuevo dataframe, **NO MODIFICA EL ORIGINAL**, si queremos guardar los cambios tenemos que reasignarle el df resultante.

In [ ]:
df_tarjeta_credito_info = df_tarjeta_credito_info\
                                                .withColumn('mayor de edad', F.col('edad')>=18)

In [ ]:
df_tarjeta_credito_info = df_tarjeta_credito_info\
                                                  .withColumn('mayor de edad',(F.col('edad')>=18) & (F.col('sueldo')=='$120K +'))

In [ ]:
df_tarjeta_credito_info = df_tarjeta_credito_info.drop('mayor de edad')

algo un poco más complejo

In [ ]:
df_tarjeta_credito_info.select('sueldo').distinct().show()

+--------------+
|        sueldo|
+--------------+
|       $120K +|
|   $60K - $80K|
|          null|
|  $80K - $120K|
|   $40K - $60K|
|Less than $40K|
+--------------+

In [ ]:
df_categorias = df_tarjeta_credito_info.select('sueldo').distinct()
df_categorias.show()

+--------------+
|        sueldo|
+--------------+
|       $120K +|
|   $60K - $80K|
|          null|
|  $80K - $120K|
|   $40K - $60K|
|Less than $40K|
+--------------+

In [ ]:
df_categorias = df_categorias.withColumn(\
                                          'categoria del cliente',\
                                          F.when( F.col('sueldo').isin('$120K +','$80K - $120K'),'oro')\
                                          .when(F.col('sueldo').isin('$60K - $80K','$40K - $60K'),'plata')\
                                          .when(F.col('sueldo').isin('Less than $40K'),'bronce')\
                                          .otherwise('desconocido')\
                                          )

In [ ]:
df_categorias.show()

+--------------+---------------------+
|        sueldo|categoria del cliente|
+--------------+---------------------+
|       $120K +|                  oro|
|   $60K - $80K|                plata|
|          null|          desconocido|
|  $80K - $120K|                  oro|
|   $40K - $60K|                plata|
|Less than $40K|               bronce|
+--------------+---------------------+

#### Detectar valores missing/nulos

##### isNull()

In [ ]:
df_tarjeta_credito_info.filter((F.col('edad').isNull()) | (F.col('sueldo').isNull()) ).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|709106358|null|     M|   $60K - $80K|           4716.0|
|710930508|  37|     M|          null|          22352.0|
|718813833|null|  null|          null|          10100.0|
|708790833|null|     M|       $120K +|           6748.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709327383|  45|     F|          null|          14470.0|
|708300483|  66|     F|          null|           7882.0|
|758551608|null|     M|   $40K - $60K|           6205.0|
|720572508|  38|     F|          null|           9830.0|
|711427458|  44|     F|          null|           6273.0|
|755420433|  59|     F|          null|          10133.0|
|715550508|  45|     F|          null|           2535.0|
|714778833|  49|     F|          null|          23032.0|
|713843283|  41|     F|          null|          34516.0|
|711112683|  63|     F|          null|           3967.0|
|772288758|  47|     F|          null|           5349.0|
|712720158|  68|     M|          null|          13860.0|
|718759833|  44|     F|          null|          32643.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

In [ ]:
df_nulls = df_tarjeta_credito_info.limit(20)
df_nulls.show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+

##### na

Con la función `na` (not available) podemos detectar valores missing/nulls en nuestros datos y decidir qué hacer con ellos:  
1. eliminarlos   -> drop()
2. reemplazarlos -> fill()

###### na.drop()

Este método acepta los parámetros:  
    - how    -> any | all  
    - thresh ->  int  
    - subset ->  [lis_of_columns]

- **how** Por defecto how='any' esto elimna todos los registros que contengan en alguno de sus campos un valor null.   
Si pusiéramos how='all' solo eliminearia el registro si todos sus campos fueran null

In [ ]:
df_nulls.na.drop().show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+

- **thresh** permite establecer un límite mínimo de campos con valores no-null, un thresh=3 significa q el registro no se borrará si tiene al menos 3 campos con valores no-null

In [ ]:
df_nulls.na.drop(thresh=3).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+


- **subset** le pasamos una lista con las columnas a evaluar, si en ese campo el registro tiene un valor null se eliminará el registro por completo.

In [ ]:
df_nulls.na.drop(subset=['sueldo']).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+

###### na.fill()

permite sustituir los valores null por un valor que nosotros le pasemos.

 Si pasamos un string solo sustituirá los nulls de los campos del tipo string si pasamos un entero por ejemplo solo los campos de tipo numérico.

In [ ]:
df_nulls.show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+

In [ ]:
df_nulls.na.fill(value=0).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|   0|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|   0|  null|          null|          10100.0|
|708790833|   0|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|   0|     M|          null|           8547.0|
|712396908|   0|     F|Less than $40K|           2436.0|
|714885258|   0|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+

In [ ]:
df_nulls.na.fill('missing value').show()

+---------+----+-------------+--------------+-----------------+
|  cliente|edad|       genero|        sueldo|limite de credito|
+---------+----+-------------+--------------+-----------------+
|768805383|  45|            M|   $60K - $80K|          12691.0|
|818770008|  49|            F|Less than $40K|           8256.0|
|713982108|  51|            M|  $80K - $120K|           3418.0|
|769911858|  40|            F|Less than $40K|           3313.0|
|709106358|null|            M|   $60K - $80K|           4716.0|
|713061558|  44|            M|   $40K - $60K|           4010.0|
|810347208|  51|            M|       $120K +|          34516.0|
|818906208|  32|            M|   $60K - $80K|          29081.0|
|710930508|  37|            M| missing value|          22352.0|
|719661558|  48|            M|  $80K - $120K|          11656.0|
|718813833|null|missing value| missing value|          10100.0|
|708790833|null|            M|       $120K +|           6748.0|
|710821833|  65|            M|   $40K - $60K|           9095.0|
|710599683|  56|            M|  $80K - $120K|          11751.0|
|816082233|null|            M| missing value|           8547.0|
|712396908|null|            F|Less than $40K|           2436.0|
|714885258|null|            M|  $80K - $120K|           4234.0|
|709967358|  48|            M|  $80K - $120K|          30367.0|
|753327333|  41|            M|  $80K - $120K|          13535.0|
|806160108|  61|            M|   $40K - $60K|           3193.0|
+---------+----+-------------+--------------+-----------------+

In [ ]:
df_nulls.na.fill({'edad':0,'genero':'missing','sueldo':'Desconocido'}).show()

+---------+----+-------+--------------+-----------------+
|  cliente|edad| genero|        sueldo|limite de credito|
+---------+----+-------+--------------+-----------------+
|768805383|  45|      M|   $60K - $80K|          12691.0|
|818770008|  49|      F|Less than $40K|           8256.0|
|713982108|  51|      M|  $80K - $120K|           3418.0|
|769911858|  40|      F|Less than $40K|           3313.0|
|709106358|   0|      M|   $60K - $80K|           4716.0|
|713061558|  44|      M|   $40K - $60K|           4010.0|
|810347208|  51|      M|       $120K +|          34516.0|
|818906208|  32|      M|   $60K - $80K|          29081.0|
|710930508|  37|      M|   Desconocido|          22352.0|
|719661558|  48|      M|  $80K - $120K|          11656.0|
|718813833|   0|missing|   Desconocido|          10100.0|
|708790833|   0|      M|       $120K +|           6748.0|
|710821833|  65|      M|   $40K - $60K|           9095.0|
|710599683|  56|      M|  $80K - $120K|          11751.0|
|816082233|   0|      M|   Desconocido|           8547.0|
|712396908|   0|      F|Less than $40K|           2436.0|
|714885258|   0|      M|  $80K - $120K|           4234.0|
|709967358|  48|      M|  $80K - $120K|          30367.0|
|753327333|  41|      M|  $80K - $120K|          13535.0|
|806160108|  61|      M|   $40K - $60K|           3193.0|
+---------+----+-------+--------------+-----------------+

### operaciones de filtrado de datos

Utilizando la función **filter(condición)** recuperaremos aquellos registros que resuelvan la condición como **True**

In [ ]:
df_tarjeta_credito_info.show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

In [ ]:
df_tarjeta_credito_info.filter(F.col('limite de credito')>10000).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|709327383|  45|     F|          null|          14470.0|
|806165208|  47|     M|   $60K - $80K|          20979.0|
|789124683|  54|     M|  $80K - $120K|          12217.0|
|720466383|  59|     M|   $40K - $60K|          14784.0|
|804424383|  63|     M|   $60K - $80K|          10215.0|
|787937058|  58|     M|  $80K - $120K|          12555.0|
|785432733|  42|     F|Less than $40K|          15433.0|
|827111283|  45|     M|  $80K - $120K|          32426.0|
|773146383|  50|     F|   $40K - $60K|          17304.0|
|712661433|  49|     M|  $80K - $120K|          34516.0|
|799723908|  46|     M|  $80K - $120K|          19458.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

In [ ]:
df_tarjeta_credito_info.filter(F.col('limite de credito').between(10000,15000)).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|709327383|  45|     F|          null|          14470.0|
|789124683|  54|     M|  $80K - $120K|          12217.0|
|720466383|  59|     M|   $40K - $60K|          14784.0|
|804424383|  63|     M|   $60K - $80K|          10215.0|
|787937058|  58|     M|  $80K - $120K|          12555.0|
|708155733|  53|     M|       $120K +|          14734.0|
|755420433|  59|     F|          null|          10133.0|
|719720058|  44|     M|   $60K - $80K|          12756.0|
|717929133|  44|     M|   $60K - $80K|          14450.0|
|711844758|  48|     M|  $80K - $120K|          13551.0|
|826762908|  52|     M|  $80K - $120K|          11976.0|
|714877233|  53|     M|  $80K - $120K|          12262.0|
|720201033|  53|     M|  $80K - $120K|          11669.0|
|718039683|  52|     M|   $40K - $60K|          13532.0|
|710806083|  50|     F|Less than $40K|          11888.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

Podemos filtrar por múltiples condiciones, cada una de las condicones tiene que estar dentro de paréntesis y utilizar un operador lógico (&, '|', '~') para concatenarlas.

In [ ]:
df_tarjeta_credito_info.filter( (F.col('limite de credito')>10000) & (F.col('genero')=='F')).show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|709327383|  45|     F|          null|          14470.0|
|785432733|  42|     F|Less than $40K|          15433.0|
|773146383|  50|     F|   $40K - $60K|          17304.0|
|755420433|  59|     F|          null|          10133.0|
|714778833|  49|     F|          null|          23032.0|
|713843283|  41|     F|          null|          34516.0|
|710806083|  50|     F|Less than $40K|          11888.0|
|708296883|  44|     F|   $40K - $60K|          11749.0|
|712215258|  50|     F|   $40K - $60K|          18386.0|
|718759833|  44|     F|          null|          32643.0|
|716493408|  45|     F|          null|          15875.0|
|714964758|  45|     F|   $40K - $60K|          10400.0|
|712977183|  57|     F|   $40K - $60K|          19482.0|
|721148358|  49|     F|          null|          12860.0|
|779956608|  41|     F|          null|          20758.0|
|711441333|  43|     F|Less than $40K|          10514.0|
|803043933|  44|     F|Less than $40K|          11127.0|
|711297483|  47|     F|Less than $40K|          13878.0|
|710572458|  36|     F|          null|          15439.0|
|714426783|  38|     F|          null|          14041.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

In [ ]:
df_tarjeta_credito_info\
                        .filter( (F.col('limite de credito')>10000) & (F.col('genero')=='F'))\
                        .select('cliente','sueldo')\
                        .na.drop()\
                        .show()

+---------+--------------+
|  cliente|        sueldo|
+---------+--------------+
|785432733|Less than $40K|
|773146383|   $40K - $60K|
|710806083|Less than $40K|
|708296883|   $40K - $60K|
|712215258|   $40K - $60K|
|714964758|   $40K - $60K|
|712977183|   $40K - $60K|
|711441333|Less than $40K|
|803043933|Less than $40K|
|711297483|Less than $40K|
|716455683|Less than $40K|
|710865633|Less than $40K|
|712981383|Less than $40K|
|716302383|   $40K - $60K|
|714513033|   $40K - $60K|
|717956283|   $40K - $60K|
|708177333|Less than $40K|
|718206783|Less than $40K|
|713378133|Less than $40K|
|720650208|   $40K - $60K|
+---------+--------------+
only showing top 20 rows

### Agrupación y funciones de agregación

El groupBy y las funciones de agregación funcionan juntas.

Las funciones de agregación básicas son:

- sum
- mean
- count
- min
- max

In [ ]:
df_tarjeta_credito_info.show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

#### sum()   

Podemos especificar un campo en el sum pero si no lo hacemos hará el sumatorio de todos los campos numéricos

In [ ]:
df_tarjeta_credito_info.groupBy('genero').sum().orderBy('sum(limite de credito)', ascending=False).show()

+------+-------------+---------+----------------------+
|genero| sum(cliente)|sum(edad)|sum(limite de credito)|
+------+-------------+---------+----------------------+
|     M|3527394286161|   219915|  6.0473500899999894E7|
|     F|3956028957831|   248815|   2.690771120000024E7|
|  null|    718813833|     null|               10100.0|
+------+-------------+---------+----------------------+

In [ ]:
df_tarjeta_credito_info.groupBy('genero').sum('limite de credito').orderBy('sum(limite de credito)', ascending=False).show()

+------+----------------------+
|genero|sum(limite de credito)|
+------+----------------------+
|     M|  6.0473500899999894E7|
|     F|   2.690771120000024E7|
|  null|               10100.0|
+------+----------------------+

#### mean()

Nos da el valor medio de un campo

In [ ]:
df_tarjeta_credito_info.groupBy('genero').mean('limite de credito').orderBy('avg(limite de credito)', ascending=False).show()

+------+----------------------+
|genero|avg(limite de credito)|
+------+----------------------+
|     M|     12685.86131739037|
|  null|               10100.0|
|     F|     5022.906701512085|
+------+----------------------+

#### count()

In [ ]:
df_tarjeta_credito_info.groupBy('genero').count().orderBy('count', ascending=False).show()

+------+-----+
|genero|count|
+------+-----+
|     F| 5357|
|     M| 4767|
|  null|    1|
+------+-----+

#### max() / min()

Nos devuelvo el valor máximo de todos los campos numéricos del DF

In [ ]:
df_tarjeta_credito_info.groupBy('genero').max().orderBy('max(limite de credito)', ascending=False).show()

+------+------------+---------+----------------------+
|genero|max(cliente)|max(edad)|max(limite de credito)|
+------+------------+---------+----------------------+
|     M|   828298908|       73|               34516.0|
|     F|   828343083|       67|               34516.0|
|  null|   718813833|     null|               10100.0|
+------+------------+---------+----------------------+

In [ ]:
df_tarjeta_credito_info.groupBy('genero').min().orderBy('min(limite de credito)', ascending=False).show()

+------+------------+---------+----------------------+
|genero|min(cliente)|min(edad)|min(limite de credito)|
+------+------------+---------+----------------------+
|  null|   718813833|     null|               10100.0|
|     F|   708082083|       26|                1438.3|
|     M|   708083283|       26|                1438.3|
+------+------------+---------+----------------------+

#### agg()

Nos permite usar funciones de agregación directamente sin usar previamente un groupBy()

In [ ]:
df_tarjeta_credito_info\
                      .groupBy('genero')\
                      .agg(\
                          F.count('genero').alias('numero de clientes'),\
                          F.max('limite de credito').alias('límite de crédito max'),\
                          F.min('limite de credito').alias('límite de crédito min'),\
                          F.avg('limite de credito').alias('media de crédito')\
                          )\
                          .orderBy('media de crédito', ascending=False)\
                          .show()

+------+------------------+---------------------+---------------------+-----------------+
|genero|numero de clientes|límite de crédito max|límite de crédito min| media de crédito|
+------+------------------+---------------------+---------------------+-----------------+
|     M|              4767|              34516.0|               1438.3|12685.86131739037|
|  null|                 0|              10100.0|              10100.0|          10100.0|
|     F|              5357|              34516.0|               1438.3|5022.906701512085|
+------+------------------+---------------------+---------------------+-----------------+

In [ ]:
df_tarjeta_credito_info\
                        .groupBy('genero')\
                        .agg({\
                              'limite de credito':'max',\
                              'edad':'min',\
                              'cliente':'count'\
                              })\
                        .show()

+------+--------------+---------+----------------------+
|genero|count(cliente)|min(edad)|max(limite de credito)|
+------+--------------+---------+----------------------+
|     F|          5357|       26|               34516.0|
|  null|             1|     null|               10100.0|
|     M|          4767|       26|               34516.0|
+------+--------------+---------+----------------------+

---

In [ ]:
max_limit = df_tarjeta_credito_info.agg({'limite de credito':'max'}).collect()[0]['max(limite de credito)']


df_tarjeta_credito_info\
                        .filter(F.col('limite de credito')==max_limit)\
                        .groupBy(F.col('genero'))\
                        .agg(\
                              F.count('genero').alias('num clientes'),\
                              F.max('limite de credito').alias('límite de crédito max')\
                              ).show()

+------+------------+---------------------+
|genero|num clientes|límite de crédito max|
+------+------------+---------------------+
|     F|          40|              34516.0|
|     M|         468|              34516.0|
+------+------------+---------------------+

In [ ]:
df_tarjeta_credito_info\
                        .withColumn(\
                                    'ratio credito', \
                                    (F.col('limite de credito')/df_tarjeta_credito_info.agg({'limite de credito':'max'}).collect()[0]['max(limite de credito)'])*100\
                                    ).show()

+---------+----+------+--------------+-----------------+------------------+
|  cliente|edad|genero|        sueldo|limite de credito|     ratio credito|
+---------+----+------+--------------+-----------------+------------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|36.768455209178356|
|818770008|  49|     F|Less than $40K|           8256.0|23.919341754548615|
|713982108|  51|     M|  $80K - $120K|           3418.0| 9.902653841696605|
|769911858|  40|     F|Less than $40K|           3313.0| 9.598447096998493|
|709106358|null|     M|   $60K - $80K|           4716.0| 13.66322864758373|
|713061558|  44|     M|   $40K - $60K|           4010.0|11.617800440375477|
|810347208|  51|     M|       $120K +|          34516.0|             100.0|
|818906208|  32|     M|   $60K - $80K|          29081.0| 84.25367945300731|
|710930508|  37|     M|          null|          22352.0| 64.75837292849693|
|719661558|  48|     M|  $80K - $120K|          11656.0|33.769845868582685|
|718813833|null|  null|          null|          10100.0| 29.26179163286592|
|708790833|null|     M|       $120K +|           6748.0|19.550353459265267|
|710821833|  65|     M|   $40K - $60K|           9095.0|26.350098505041142|
|710599683|  56|     M|  $80K - $120K|          11751.0| 34.04508054235717|
|816082233|null|     M|          null|           8547.0| 24.76242901842624|
|712396908|null|     F|Less than $40K|           2436.0| 7.057596476996175|
|714885258|null|     M|  $80K - $120K|           4234.0|12.266774829064781|
|709967358|  48|     M|  $80K - $120K|          30367.0| 87.97948777378608|
|753327333|  41|     M|  $80K - $120K|          13535.0| 39.21369799513269|
|806160108|  61|     M|   $40K - $60K|           3193.0| 9.250782245914937|
+---------+----+------+--------------+-----------------+------------------+
only showing top 20 rows

### Cruzando Dataframes

#### joins

In [ ]:
df_tarjeta_credito_info.show()
df_tarjeta_credito_estudios.show()

+---------+----+------+--------------+-----------------+
|  cliente|edad|genero|        sueldo|limite de credito|
+---------+----+------+--------------+-----------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|
|818770008|  49|     F|Less than $40K|           8256.0|
|713982108|  51|     M|  $80K - $120K|           3418.0|
|769911858|  40|     F|Less than $40K|           3313.0|
|709106358|null|     M|   $60K - $80K|           4716.0|
|713061558|  44|     M|   $40K - $60K|           4010.0|
|810347208|  51|     M|       $120K +|          34516.0|
|818906208|  32|     M|   $60K - $80K|          29081.0|
|710930508|  37|     M|          null|          22352.0|
|719661558|  48|     M|  $80K - $120K|          11656.0|
|718813833|null|  null|          null|          10100.0|
|708790833|null|     M|       $120K +|           6748.0|
|710821833|  65|     M|   $40K - $60K|           9095.0|
|710599683|  56|     M|  $80K - $120K|          11751.0|
|816082233|null|     M|          null|           8547.0|
|712396908|null|     F|Less than $40K|           2436.0|
|714885258|null|     M|  $80K - $120K|           4234.0|
|709967358|  48|     M|  $80K - $120K|          30367.0|
|753327333|  41|     M|  $80K - $120K|          13535.0|
|806160108|  61|     M|   $40K - $60K|           3193.0|
+---------+----+------+--------------+-----------------+
only showing top 20 rows

+---------+---------------+
|CLIENTNUM|Education_Level|
+---------+---------------+
|768805383|    High School|
|818770008|       Graduate|
|713982108|       Graduate|
|769911858|    High School|
|709106358|     Uneducated|
|713061558|       Graduate|
|810347208|           null|
|818906208|    High School|
|710930508|     Uneducated|
|719661558|       Graduate|
|708790833|     Uneducated|
|710821833|           null|
|710599683|        College|
|816082233|       Graduate|
|712396908|       Graduate|
|714885258|           null|
|709967358|  Post-Graduate|
|753327333|           null|
|806160108|    High School|
|709327383|       Graduate|
+---------+---------------+
only showing top 20 rows

In [ ]:
# inner join

df_tarjeta_credito_info.join(df_tarjeta_credito_estudios,\
                                                        on=[df_tarjeta_credito_info.cliente==df_tarjeta_credito_estudios.CLIENTNUM],\
                                                        how='inner')\
                                                        .select('*').show(5)

+---------+----+------+--------------+-----------------+---------+---------------+
|  cliente|edad|genero|        sueldo|limite de credito|CLIENTNUM|Education_Level|
+---------+----+------+--------------+-----------------+---------+---------------+
|768805383|  45|     M|   $60K - $80K|          12691.0|768805383|    High School|
|818770008|  49|     F|Less than $40K|           8256.0|818770008|       Graduate|
|713982108|  51|     M|  $80K - $120K|           3418.0|713982108|       Graduate|
|769911858|  40|     F|Less than $40K|           3313.0|769911858|    High School|
|709106358|null|     M|   $60K - $80K|           4716.0|709106358|     Uneducated|
+---------+----+------+--------------+-----------------+---------+---------------+
only showing top 5 rows

In [ ]:
# leftanti -> nos devuelve los registros de la tabla de la izq q NO hacen match (solo campos de la tabla de la izq)

df_tarjeta_credito_info.join(df_tarjeta_credito_estudios,\
                                                        on=[df_tarjeta_credito_info.cliente==df_tarjeta_credito_estudios.CLIENTNUM],\
                                                        how='leftanti').show()

+---------+----+------+------------+-----------------+
|  cliente|edad|genero|      sueldo|limite de credito|
+---------+----+------+------------+-----------------+
|778348233|  53|     M|$80K - $120K|           2753.0|
|771490833|  52|     M|$80K - $120K|           4745.0|
+---------+----+------+------------+-----------------+