In [3]:
# Collections module

# counter

from collections import Counter

iterable_obj = 'aaaaabbbbbccc'
count = Counter(iterable_obj)

print(count.most_common())
# [('a', 5), ('b', 5), ('c', 3)]

[('a', 5), ('b', 5), ('c', 3)]

In [3]:
count.most_common(1)

[('a', 5)]

In [10]:
letters = 'aaabbbbbcccccddd'

c = Counter(letters)
c

Counter({'a': 3, 'b': 5, 'c': 5, 'd': 3})

In [12]:
# metodos

print(list(c.elements()))

['a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'd', 'd', 'd']

In [15]:
print(c)
print(c.values())

Counter({'b': 5, 'c': 5, 'a': 3, 'd': 3})
dict_values([3, 5, 5, 3])

In [35]:

letters = 'aaabbbbbcccccddd'

c = Counter(letters)

c_items = c.items() 

print(type(c_items))

for x in c_items:
    print(x, end='')

list(c_items)

c.most_common()[:-2-1:-1]

<class 'dict_items'>
('a', 3)('b', 5)('c', 5)('d', 3)

[('d', 3), ('a', 3)]

In [36]:
Counter(dict([('a',2),('b',5)]))

Counter({'a': 2, 'b': 5})

In [42]:
count = Counter({'david':2,'martin':2, 'vergues':0})
print(count)

count+= Counter()

count

Counter({'david': 2, 'martin': 2, 'vergues': 0})

Counter({'david': 2, 'martin': 2})

In [49]:
from collections import defaultdict

d = defaultdict(lambda: -1)

d['correct']= 100

d['wrong']
d #

defaultdict(<function __main__.<lambda>()>, {'correct': 100, 'wrong': -1})

In [51]:
# namedtuple
t = (12,13,14)
t[0] # 12

12

In [69]:
from collections import namedtuple

Person = namedtuple('Persona', ['nombre','edad','profesion'])

david = Person(nombre = 'david', edad='36',profesion = 'bioInfo')

david

type(david) # __main__.Person

david # Person(nombre='david', edad='36', profesion='bioInfo')

david[0] # 'david'
david.nombre # 'david

'david'

In [72]:
from collections import namedtuple

Person = namedtuple('Persona', ['nombre','edad','profesion'])

david2 = Person(nombre = 'david', edad='36',profesion = 'bioInfo')

david


david2 # Person(nombre='david', edad='36', profesion='bioInfo')

david2[0] # 'david'
david2.nombre # 'david
type(david2) # __main__.Person

__main__.Persona